/* Screens Resolution : 1400px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1400px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */
	#section2,#section3,#section4,#section5,#section6,#section7 .container{ padding-bottom:10px; }
	
	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	/* ---------------------------------
	3. SECTION 1
	--------------------------------- */

	/* ---------------------------------
	4. SECTION 2
	--------------------------------- */

	/* ---------------------------------
	5. SECTION 3
	--------------------------------- */

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */

	/* ---------------------------------
	7. VIDEO
	--------------------------------- */

	/* ---------------------------------
	8. FORM
	--------------------------------- */


	/* ---------------------------------
	9. CONDITION
	--------------------------------- */
    
}

/* Screens Resolution : 1200px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */
	
	/* ---------------------------------
	2. HEADER
	--------------------------------- */


	/* ---------------------------------
	3. SECTION 1
	--------------------------------- */

	.li1 .col-lg-4 { padding-right: 30px; }

	/* ---------------------------------
	4. SECTION 2
	--------------------------------- */

	/* ---------------------------------
	5. SECTION 3
	--------------------------------- */

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */

	/* ---------------------------------
	7. VIDEO
	--------------------------------- */

	/* ---------------------------------
	8. FORM
	--------------------------------- */

	/* ---------------------------------
	9. CONDITION
	--------------------------------- */
    
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width:992px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */
	
	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	/* ---------------------------------
	3. SECTION 1
	--------------------------------- */

	.li1 .row{ display: inline-block; }

	.li1 .col-lg-4{ /*position: relative; width: 100%; padding-right: 85px;
		       padding-left: 50px;*/ max-inline-size: max-content; margin: auto; }

	/* ---------------------------------
	4. SECTION 2
	--------------------------------- */

	/* ---------------------------------
	5. SECTION 3
	--------------------------------- */

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */

	/* ---------------------------------
	7. VIDEO
	--------------------------------- */

	#maps{ height: 600px;}

	/* ---------------------------------
	8. FORM
	--------------------------------- */

	/* ---------------------------------
	9. CONDITION
	--------------------------------- */
	
}

/* Screens Resolution : 768px and 798px
-------------------------------------------------------------------------- */
@media only screen and (min-width:768px) and (max-width:798px) {
	
/* ---------------------------------
	1. GENERALE
	--------------------------------- */
	
	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	/* ---------------------------------
	3. SECTION 1
	--------------------------------- */

	/* ---------------------------------
	4. SECTION 2
	--------------------------------- */

	/* ---------------------------------
	5. SECTION 3
	--------------------------------- */

	#photo2 .col-lg-4{ min-inline-size: max-content; }

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */

	/* ---------------------------------
	7. VIDEO
	--------------------------------- */

	/* ---------------------------------
	8. FORM
	--------------------------------- */

	/* ---------------------------------
	9. CONDITION
	--------------------------------- */
	
}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
/* ---------------------------------
	1. GENERALE
	--------------------------------- */
	
	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	/* ---------------------------------
	3. SECTION 1
	--------------------------------- */

	.img1{ width: 100%; /* height: 280px; */ max-width: 236px; }

	.li1{ display: inline-flex; }

	/* ---------------------------------
	4. SECTION 2
	--------------------------------- */

	#section2{ text-align: center; }

	#section2 .col-sm-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; outline: auto; }

	/* ---------------------------------
	5. SECTION 3
	--------------------------------- */

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */

	footer{ height: auto; }

	/* ---------------------------------
	7. VIDEO
	--------------------------------- */

	#maps{height: 600px; }

	/* ---------------------------------
	8. FORM
	--------------------------------- */

	#form{ margin: 10px; height: 100%; }

	#section6{ font: -webkit-small-control; }

	/* ---------------------------------
	9. CONDITION
	--------------------------------- */

	
  
	}
/* Screens Resolution : 576px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 576px) {
	
	/* ---------------------------------
	1. GENERALE
	--------------------------------- */

	.h1, h1{ font-size: 1.7rem!important; }
	
	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	header .home-container{ outline-style: auto; }

	#header{ height: 740px; }

	/* ---------------------------------
	3. SECTION 1
	--------------------------------- */

	.img1{ width: 100%; height: 210px; max-width: 236px; }

	/* ---------------------------------
	4. SECTION 2
	--------------------------------- */

	#section2 .titre{ text-align: left; }

	#section2 .row{ display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap;
		            flex-wrap: wrap; /* margin-right: -15px; */ /* margin-left: -15px; */ }

	/* ---------------------------------
	5. SECTION 3
	--------------------------------- */

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */

	/* ---------------------------------
	7. VIDEO
	--------------------------------- */

	.card-footer:last-child{ border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px); font-size: xx-large; }

	/* ---------------------------------
	8. FORM
	--------------------------------- */

	

	/* ---------------------------------
	9. CONDITION
	--------------------------------- */

}

/* Screens Resolution : 0px and 375px
-------------------------------------------------------------------------- */
@media only screen and (min-width: 0px) and (max-width: 375px) {
	
/* ---------------------------------
	1. GENERALE
	--------------------------------- */
	
	/* ---------------------------------
	2. HEADER
	--------------------------------- */

	#header{ height: 672px; }

	header .home-container{ outline-style: auto; }

	header .h1, h1{ font-size: 1.7rem; }

	/* ---------------------------------
	3. SECTION 1
	--------------------------------- */

	.li1{ display: block;/* display: inline-flex; */ }

	.img1{ height: 280px; max-width: 201px; }

	.li1 .col-lg-4 { position: relative; width: 100%; /* padding-right: 94px; */
		            /* padding-left: 50px; */ padding: 0px; }

	/* ---------------------------------
	4. SECTION 2
	--------------------------------- */

	#section2 .row{ display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap;
		            flex-wrap: wrap; /* margin-right: -15px; */ /* margin-left: -15px; */ }

	/* ---------------------------------
	5. SECTION 3
	--------------------------------- */

	/* ---------------------------------
	6. FOOTER
	--------------------------------- */

	/* ---------------------------------
	7. VIDEO
	--------------------------------- */

	header .card-body { -ms-flex: 1 1 auto; flex: 1 1 auto; padding: 1.25rem; font-size: small; }

	.embed-responsive::before{ display: block; content: ""; height: 176px; }

	/* ---------------------------------
	8. FORM
	--------------------------------- */

	.form-row>.col, .form-row>[class*=col-]{ padding-right: 35px; padding-left: 35px; }

	#section6 label:first{ display: inline-block; margin-bottom: .5rem; margin-top: 15px; }

	#section6 .btn-primary { color: #fff; background-color: #007bff; border-color: #007bff;
		                     width: -webkit-fill-available; }

	/* ---------------------------------
	9. CONDITION
	--------------------------------- */
	
} 